doctype html
head
    title Bill Tracker
    link(rel="stylesheet", href="stylesheets/bootstrap/bootstrap.css")
    link(rel="stylesheet", href="stylesheets/home.css")
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="https://cdn.firebase.com/js/client/2.2.6/firebase.js")
body
    .headerWrap
        h1 Welcome to South Carolina Youth in Government
    .nav
        a(href="views/legislator.html").btn.btn-default LEGISLATIVE
        a(href="views/attorney.html").btn.btn-default JUDICIAL
        a(href="views/support.html").btn.btn-default SUPPORT
    .footer
        p A 
            a(href="#" target="blank") Lorenzo Barberis Canonico 
            | production & 
            a(href="http://www.alyweir.com" target="blank") Aly Weir 
            | design
