doctype html
head
    title Bill Tracker

    //responsive interface
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="HandheldFriendly" content="true")

    //styling
    link(rel="stylesheet", href="../stylesheets/bootstrap/bootstrap.css")

    //jQuery and Firebase
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="https://cdn.firebase.com/js/client/2.2.6/firebase.js")
body
    .container.text-center
        .row
            h1 Attorney Page
                a(href="../index.html").btn.btn-default HOME
            a(href="judicial/attorneySchedule.html").btn.btn-default SCHEDULE
            a(href="judicial/roundPairings.html").btn.btn-default ROUND ASSIGNMENTS
            a(href="staff.html").btn.btn-default STAFF QUESTIONS
            a(href="candidates.html").btn.btn-default CANDIDATES
