doctype html
head
    title Bill Tracker

    //responsive interface
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="HandheldFriendly" content="true")

    //styling
    link(rel="stylesheet", href="../stylesheets/bootstrap/bootstrap.css")

    //jQuery and Firebase
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="https://cdn.firebase.com/js/client/2.2.6/firebase.js")
body
    h1.text-center Questions for Resource Staff
    .row
        .col-md-4
        .col-md-4
            label Question
            textarea(placeholder="Ask your question").form-control#textOfQuestion
        .col-md-4
    br
    .row
        .col-md-4
        .col-md-4
            label Phone Number
            input(type="text" placeholder="Enter your phone number").form-control#phoneNumber
        .col-md-4
    br
    .row
        .col-md-4
        .col-md-4
            button.btn.btn-success.form-control#submit Submit Question
        .col-md-4
    script(src="../scripts/staff.js")
