doctype html
head
    title Bill Tracker
    //styling
    link(rel="stylesheet", href="../../../../stylesheets/chamber.css")

    // Responsive Tags
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    //jQuery
    script(src="http://code.jquery.com/jquery-1.11.3.min.js")
    script(src="http://code.jquery.com/jquery-migrate-1.2.1.min.js")
    
    //Firebase
    script(src="https://cdn.firebase.com/js/client/2.2.6/firebase.js")
body
    .header
        h1 Premier A
            a(href="../../chambers.html").btn.btn-default BACK
    .docket
        .billList
    script(src="../../../../scripts/tracking.js")
